<!-- override me! -->
<script>
  var remark_config = {
    host: 'https://c.letgo.cc',
    site_id: 'letgocc',
	locale:"zh",components:["last-comments"]
  };
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
<div class="sidebar-recent__title p2">{{ i18n "last-comments" | default "LAST COMMENTS" }}</div>
<div class="remark42__last-comments" data-max="5"></div>
<hr class="hr-fade sidebar-hr" />
